html,body {
    margin:0;
    padding:0;
    overflow: auto;
    font-family: Arial, sans-serif;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
    background-color: #aaa;
}

body::-webkit-scrollbar-thumb {
    background: gray;
}

.header {  
    background-color: #252422;
    height: 80px;
    width: 100%;
    position: fixed;
    box-shadow: 0px 4px 10px 0 rgba(0,0,0,1);
    z-index: 1;
    color: #fffcf2;
    top: 0;
}

.header-item {
    font-size: xx-large;
    margin: 20px 20px;
    display: inline-block;
    text-align: center;
}

.header-item:hover {
    color: #eb5e28;
}

.split {
    top: 0;
    overflow-x: hidden;
}

.left {
    height: 92%;
    position: fixed;
    left: 0;
    background-color: #403d39;
    width: 10%;
    margin-top: 80px;
    box-shadow: 4px 0px 10px 0px rgba(0,0,0,1);
    color: #fffcf2;
}

.left::-webkit-scrollbar {
    width: 10px;
    background-color: #aaa;
}

.left::-webkit-scrollbar-thumb {
    background: gray;
}

.right {
    /* background-color: black; */
    background-color: #fffcf2;
    min-height: 91%;
    margin-top: 80px;
    width: 89%;
    padding-left: 20px;
    float: right;
    margin-top: 80px;
    /* overflow: hidden; */
}

.body {
    background-color: #fffcf2;
    margin-top: 80px;
    padding: 10px;
    min-height: 89%;
}

.home {
    text-align: center;
}

h3 {
    padding: 0 5px;
}

.list-item {
    padding: 0 10px 0 10px;
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding: 5px 0 5px 0;
    min-height: 30px;
}

li:hover {
    background-color: #eb5e28;
}

.html-snippet {
    background-color: #252422;
    color: #fffcf2;
    min-width: 95%;
    min-height: 100px;
    padding: 20px 10px;
    border-radius: 10px;
    font-size: larger;
    border-left: 10px solid #eb5e28;
    resize: none;
    overflow: hidden;
}
